// About
$about-max-width: 650px;
$about-color: $darker-green;

.about {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 40% 60%;
  background: url(../images/fix-right.svg) no-repeat 90vw center;
  color: $about-color;

  @include tablet-wide {
    background-position: 97vw;
  }

  @include tablet {
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    background-repeat: repeat-y;
  }

  .section-title {
    text-align: center;
    margin: 0 auto;
    max-width: $about-max-width;
    padding: $base-horizontal-padding;

    @include tablet {
      padding: $base-horizontal-padding-mobile;
    }
  }

  .content {
    max-width: $about-max-width;
    text-align: left;

    @include tablet {
      margin: auto;
    }
  }
}
