// About
$about-content-max-width: 700px;
$about-color: $darker-green;

.about {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 40% 60%;
  background: url(../images/fix-right.svg) no-repeat 90vw center;
  color: $about-color;

  @include tablet-wide {
    background-position: 97vw;
  }

  @include tablet {
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    background-repeat: repeat-y;
  }

  .section-title {
    background: url(../images/light.svg) no-repeat left top;
    width: 100%;

    @include tablet {
      text-align: left;
    }
  }

  .content {
    max-width: $about-content-max-width;
    text-align: left;

    @include tablet {
      margin: auto;
      width: 100%;
    }
  }
}
