// Buttons
$btn-font-weight: $font-weight-bolder;
$btn-border-radius: 4px;
$btn-padding: 8px 18px;
$btn-tickets-bg: $base-red;
$btn-tickets-color: $white;
$btn-submissions-bg: transparent;
$btn-submissions-color: $base-red;
$btn-border: solid 2px $base-red;
$btn-group-mb: 20px;
$btn-group-btn-m: 0 10%;

.is-button {
  display: inline-block;
  padding: $btn-padding;
  border-radius: $btn-border-radius;
  font-weight:  $btn-font-weight;
  line-height: 1.4;
  text-transform: uppercase;
  border: $btn-border;
}

.is-button.get-tickets {
  background: $btn-tickets-bg;
  color:$btn-tickets-color;

  &:hover {
    background: darken($btn-tickets-bg, 5%);
    border-color: darken($btn-tickets-bg, 5%);
  }
}

.is-button.submissions {
  background: $btn-submissions-bg;
  color: $btn-submissions-color;

  &:hover {
    color: $white;
    background: lighten($btn-submissions-color, 10%);
    border-color: lighten($btn-submissions-color, 10%);
  }
}

.btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: $btn-group-mb;

  .is-button {
    margin: $btn-group-btn-m;
  }
}
