// Content
$content-max-width: 900px;
$content-title-bg: $base-red;
$content-title-color: $white;
$content-color: $darker-green;

.content-section {
  color: $content-color;

  .section-title {
    background: $content-title-bg;
    padding: $base-horizontal-padding;
    color: $content-title-color;

    @include tablet {
      padding: $base-horizontal-padding-tablet;
    }
  }

  .content {
    padding-top: $base-horizontal-padding;
    text-align: left;

    @include tablet {
      padding-top: $base-horizontal-padding-tablet;
    }
  }

  @include desktop-up {
    .content {
      max-width: $content-max-width;
      margin: 0 auto;
    }
  }
}
