
/* Hero */
$hero-desktop-height: 640px;
$hero-desktop-height-tablet: 440px;
$hero-desktop-height-mobile: 340px;
$hero-bg: $base-green;
$hero-color: $base-green;
$hero-font-size: 24px;
$hero-font-size-tablet: 18px;
$hero-font-weight: $font-weight-bolder;
$hero-logo-bg: $white;

.pyn-intro {
  background-color: $hero-bg;
  min-height: $hero-desktop-height;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 40% 60%;
  position: relative;

  @include tablet-wide {
    min-height: $hero-desktop-height-tablet;
  }

  @include mobile {
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    min-height: $hero-desktop-height-mobile;
  }

  h3 {
    font-size: $hero-font-size;
    font-weight: $hero-font-weight;
    color: $hero-color;
    text-align: center;
    margin: 16px 0 0;

    @include tablet {
      font-size: $hero-font-size-tablet;
    }
  }
}

.pyn-intro > .bg-pattern {
  position: relative;

  img.pattern {
    position: absolute;
    max-width: 75px;

    @include tablet-wide {
      max-width: 50px;
    }

    @include mobile {
      right: 0;
      max-width: 30px;
      z-index: 11;
    }
  }
}

.pyn-intro .bg-logo {
  @include position(absolute, $top: 55%, $left: 70%);
  transform: translate(0, -45%);
  background: $hero-logo-bg;
  padding: 48px 0;
  min-width: 200px;
  max-width: 360px;
  width: 100%;
  z-index: 10;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

  @include tablet-wide {
    padding: 32px 0;
    max-width: 300px;
  }

  @include mobile {
    max-width: 200px;
    transform: none;
    top: 70px;
    left: 0;
  }

  img.pyn-intro-logo {
    max-width: 240px;
    width: 100%;
    display: block;
    margin: auto;

    @include tablet-wide {
      max-width: 150px;
    }
  }

  h2 > span {
    display: inline-block;
    margin-right: 8px;
  }
}

.pyn-intro > .bg-img {
  background: url(../images/aurora.jpg) no-repeat center;
  background-size: cover;
}



