// Locations
$locations-color: $white;
$locations-max-width: 750px;

.locations {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/cais.jpg) 50% 0 no-repeat fixed;
  background-position: center -100px;
  background-size: cover;
  color: $locations-color;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 45% 55%;

  @include tablet-wide {
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    padding-bottom: 0;
  }

  a {
    color: $locations-color;
    font-weight: $font-weight-bolder;
  }

  .section-title {
    background: url(../images/light.svg) no-repeat left top;

    @include tablet {
      text-align: left;
      width: 100%;
    }
  }

  .content {
    text-align: left;
    max-width: $locations-max-width;

    @include tablet-wide {
      margin: auto;
    }

    span {
      font-size: 12px;
    }
  }

  .map {
    text-align: center;
  }
}
