$schedule-bg: #F2EDD9;
$schedule-pattern-height: 65px;
$schedule-title-width: 45%;

.schedule {
  background-color: $schedule-bg;
  position: relative;

  @include tablet {
    max-width: 100%;
  }

  .section-title {
    background: url(../images/light.svg) no-repeat left top;
    width: $schedule-title-width;

    @include tablet {
      text-align: left;
    }
  }

  .content {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;

    @include tablet {
        flex-direction: column;
    }

    @include mobile {
        flex-direction: column;
    }

    .day-schedule {
        margin: 0 22px;
        margin-bottom: 44px;
        color: $dark-green;

        @include mobile {
            margin-left: 0;
            margin-right: 0;
        }

        h3 {
            font-weight: 900;
            font-size: 28px;
            line-height: 70px;
            text-align: center;
            height: 70px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 28px;
            color: $orange;
            background: url('../images/title.svg') no-repeat center;

            @include tablet {
                background-size: 488px 80px;
                width: 488px;
            }

            @include mobile {
                width: 300px;
            }
        }

        table {
            font-size: 16px;
            line-height: 20px;
            margin-left: auto;
            margin-right: auto;

            @include tablet {
                width: 488px;
            }

            @include mobile {
                width: 310px;
            }

            tr {
                td {
                    vertical-align: top;
                    padding-bottom: 12px;

                    &:nth-child(1) {
                        width: 80px;
                        padding-left: 8px;
                        padding-right: 8px;
                    }

                    &:nth-child(2) {
                        font-weight: 600;
                        width: 52px;
                        padding-left: 8px;
                        padding-right: 8px;
                        color: $darker-green;

                        @include mobile {
                            width: 50px;
                        }
                    }

                    &:nth-child(3) {
                        width: 208px;

                        @include tablet {
                            width: 346px;
                        }

                        @include mobile {
                            width: 200px;
                        }
                    }

                    &.dark-red {
                        color: $dark-red;
                    }

                    span {
                        text-transform: uppercase;
                        background-color: $dark-green;
                        border-radius: 4px;
                        color: $white;
                        padding: 0 8px;
                        display: block;
                        text-align: center;

                        &.cesar {
                            background-color: $base-red;
                        }

                    }

                }

                &.ornamento-agenda {
                    background: url(../images/ornamento-agenda.svg) no-repeat left top;

                    td:nth-child(2) {
                        color: $darker-red;
                    }

                    td:nth-child(3) {
                        color: $orange;
                    }

                }

            }

        }

    }

  }

  .detail {
    @include position(absolute, $top: 0, $right: 0);
    transform: translateY(-50%);
    height: $schedule-pattern-height;
  }
}
