$schedule-bg: $lighter-red;
$schedule-pattern-height: 65px;
$schedule-title-width: 45%;

.schedule {
  background-color: $schedule-bg;
  position: relative;

  @include tablet {
    max-width: 100%;
  }

  .section-title {
    background: url(../images/light.svg) no-repeat left top;
    width: $schedule-title-width;

    @include tablet {
      text-align: left;
    }
  }

  .content {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;

    @include tablet {
        flex-direction: column;
    }

    @include mobile {
        flex-direction: column;
    }

    .day-schedule {
        margin: 0 22px;
        margin-bottom: 44px;
        color: $darker-green;

        h3 {
            font-weight: 900;
            font-size: 28px;
            line-height: 70px;
            text-align: center;
            height: 70px;
            width: 258px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 28px;
            color: $dark-green;
            background: url('../images/title.svg') no-repeat center;

            @include tablet {
                background-size: 488px 80px;
                width: 488px;
                margin-left: auto;
                margin-right: auto;
            }

            @include mobile {
                width: 300px;
                margin-left: auto;
                margin-right: auto;
            }
        }

        table {
            font-size: 16px;
            line-height: 20px;
            width: 368px;
            margin-left: auto;
            margin-right: auto;

            @include tablet {
                width: 488px;
            }

            @include mobile {
                width: 300px;
            }

            tr {
                td {
                    vertical-align: top;
                    padding-bottom: 12px;

                    &:nth-child(1) {
                        font-weight: 600;
                        width: 54px;
                        color: $dark-green;
                    }


                    &:nth-child(3) {
                        width: 208px;
                    }

                    span {
                        text-transform: uppercase;
                        background-color: $light-green;
                        border-radius: 4px;
                        color: $white;
                        padding: 0 8px;

                        &.cesar {
                            background-color: $light-red;
                        }

                    }

                }

            }

        }

    }

  }

  .detail {
    @include position(absolute, $top: 0, $right: 0);
    transform: translateY(-50%);
    height: $schedule-pattern-height;
  }
}
