// Sponsors
$sponsors-color: $darker-green;
$sponsors-max-width: 800px;

.section-base.patrocinio {
  background: url(../images/areia.svg) repeat-x center center;
  color: $sponsors-color;

  .section-title {
    background: $body-bg;
    max-width: $sponsors-max-width;
    margin: auto;
  }

  .content {
    background: $body-bg;
    max-width: $sponsors-max-width;
    margin: auto;
    text-align: center;
    align-items: center;
    color: #DF5335;
  }

  .patroc-content {
    padding: 20px 0;
  }

  .patroc-block {
    display: flex;
    align-items: center;
    padding-top: 20px;

    .block {
      margin: 0 25px;
    }
    @media (max-width: 600px) {
      .block {
        margin: 0 15px;
      }
    }

    img {
      width: 100%;
      height: auto;
      vertical-align: middle;
    }
  }

  @media (max-width: 600px) {
      .patroc-block {
        display: flex;
        align-items: center;
        padding-top: 5px;
      }
    }

  .diamond {
    flex: 0.5;
    @media (max-width: 600px) {
      img {
          width: 75%;
      }
    }
  }

  .gold {
    flex: 0.33;
    @media (max-width: 600px) {
      img {
          width: 100%;
      }
    }
  }

  .silver {
    flex: 0.58;
    margin: 0 15px !important;
    img {
      max-width: 160px;
      max-height: 75px;
    }
    @media (max-width: 600px) {
      margin: 0 10px !important;

      img {
          width: 30%;
      }
    }
  }

  .copper {
    flex: 0.33;
    margin: 0 20px !important;
    @media (max-width: 700px) {
      margin: 0 15px !important;
    }
  }

  .partner {
    flex: 0.33;
    img {
      max-height: 100px;
    }
    @media (max-width: 600px) {
      img {
          width: 70%;
      }
    }
  }

}
