// Sponsors
$sponsors-color: $darker-green;
$sponsors-max-width: 700px;

.section-base.sponsors {
  background: url(../images/areia.svg) repeat-x center center;
  color: $sponsors-color;

  .section-title {
    background: $body-bg;
    max-width: $sponsors-max-width;
    margin: auto;
  }

  .content {
    background: $body-bg;
    max-width: $sponsors-max-width;
    margin: auto;
    text-align: center;
    align-items: center;
  }

  .sponsor-block {
    display: grid;
    grid-template-columns: auto;
    grid-auto-flow: column;
    justify-content: center;

    .block {
      padding: 10px;

    }
  }

  .diamond {
    img {
      height: 150px;
      width: 250px;
    }
  }

  .gold {
    img {
      width: 200px;
    }
  }

  .silver {
    img {
      height: 100px;
      width: 150px;
    }
  }

  .copper {
    img {
      height: 100px;
      width: 100px;
    }
  }

  .partner {
    img {
      height: 100px;
      width: 150px;
    }
  }
}
