// Sponsors
$sponsors-color: $darker-green;
$sponsors-max-width: 700px;

.section-base.sponsors {
  background: url(../images/areia.svg) repeat-x center center;
  color: $sponsors-color;

  .section-title {
    background: $body-bg;
    max-width: $sponsors-max-width;
    margin: auto;
  }

  .content {
    background: $body-bg;
    max-width: $sponsors-max-width;
    margin: auto;
    text-align: center;
    align-items: center;
    color: #DF5335;
  }

  .sponsor-content {
    padding: 20px 0;
  }

  .sponsor-block {
    display: flex;
    align-items: center;
    padding-top: 20px;

    .block {
      margin: 0 1rem;
    }

    img {
      width: 100%;
      height: auto;
      vertical-align: middle;
    }
  }

  .diamond {
    flex: 1.3344;
  }

  .gold {
    flex: 1.3345;
    img {
      max-height: 100px;
    }
  }

  .silver {
    flex: 0.58;
    img {
      max-width: 160px;
    }
  }

  .copper {
    flex: 0.75;
    img {
      max-width: 170px;
    }
  }

  .partner {
    flex: 0.75;
    img {
      max-height: 120px;
    }
  }

}
