// Submissions
$submissions-max-width: 900px;
$submissions-title-bg: $base-red;
$submissions-title-color: $white;

.submissions-section {
  .section-title {
    background: $submissions-title-bg;
    padding: $base-horizontal-padding;
    color: $submissions-title-color;

    @include tablet {
      padding: $base-horizontal-padding-tablet;
    }
  }

  .content {
    padding-top: $base-horizontal-padding;
    text-align: left;

    @include tablet {
      padding-top: $base-horizontal-padding-tablet;
    }
  }

  @include desktop-up {
    .content {
      max-width: $submissions-max-width;
      margin: 0 auto;
    }
  }
}
