// Submissions
.submissions-section {
  .section-title {
    background: $base-red;
    padding: 80px $base-horizontal-padding 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
  }

  .content {
    text-align: left;
  }

  @include tablet-wide {
    padding: 20px 0 0;

    .content {
      padding: 0 20px 20px;
    }
  }

  @include desktop-up {
    .content {
      max-width: 800px;
      margin: 0 auto;
    }
  }
}
