//
// General colors
$light-beige: #f6f3e3;
$beige: #F2ECD7;
$white: #fff;
$black: #000;

// Greens
$darker-green: #282E00;
$dark-green: #587000;
$base-green: #94A202;
$light-green: #D4D879;

// Reds
$lighter-red: #FAD4BF;
$light-red: #F9B295;
$base-red: #DD4D25;
$dark-red: #8A100E;
$darker-red: #580601;

// Typography
$font-family-base: 'Saira', 'Helvetica Neue', 'Helvetica', sans-serif;
$font-weight-base: 400;
$font-weight-bold: 500;
$font-weight-bolder: 600;

// General
$body-bg: $white;
$selection-bg: transparentize($dark-red, 0.6);

$link-color: $base-red;
$link-font-weight: $font-weight-bolder;
$link-decoration: none;

$headings-margin-bottom: 1rem;
$paragraph-margin-bottom: 1rem;

$base-horizontal-padding: 50px;
$base-horizontal-padding-mobile: 25px;
