$default-font-family: 'Saira', 'Helvetica Neue', 'Helvetica', sans-serif;

$base-horizontal-padding: 50px;

// General colors
$light-beige: #f6f3e3;
$beige: #F2ECD7;
$white: #fff;
$black: #000;

// Greens
$darker-green: #282E00;
$dark-green: #587000;
$base-green: #94A202;
$light-green: #D4D879;

// Reds
$lighter-red: #FAD4BF;
$light-red: #F9B295;
$base-red: #DD4D25;
$dark-red: #8A100E;
$darker-red: #580601;
